{{ generated_header }}
version: 2

{% if seed_tables -%}
seeds:
{%- for table in seed_tables %}
  - name: {{ table.raw_model }}
{%- if table.description %}
    description: {{ table.description | tojson }}
{%- endif %}
{%- if table.seed_tests %}
    columns:
{%- for column in table.seed_tests %}
      - name: {{ column.name }}
        data_tests: {{ column.data_tests }}
{%- endfor %}
{%- endif %}
{%- endfor %}
{%- endif %}{% if source_groups or projection_source_groups %}{{ '\n\n' if seed_tables else '' }}sources:
{%- for source in source_groups %}
  - name: {{ source.name }}
{%- if source.database | default('') %}
    database: {{ source.database }}
{%- endif %}
{%- if source.schema | default('') %}
    schema: {{ source.schema }}
{%- endif %}
    tables:
{%- for table in source.tables %}
      - name: {{ table.landing.identifier }}
{%- if table.description %}
        description: {{ table.description | tojson }}
{%- endif %}
{%- if table.seed_tests %}
        columns:
{%- for column in table.seed_tests %}
          - name: {{ column.name }}
            data_tests: {{ column.data_tests }}
{%- endfor %}
{%- endif %}
{%- if table.bronze_source_yaml %}
{{ table.bronze_source_yaml }}
{%- endif %}
{%- endfor %}
{%- endfor %}
{%- for source in projection_source_groups %}
  - name: {{ source.name }}
{%- if source.database | default('') %}
    database: {{ source.database }}
{%- endif %}
{%- if source.schema | default('') %}
    schema: {{ source.schema }}
{%- endif %}
    tables:
{%- for table in source.tables %}
      - name: {{ table.name }}
{%- if table.identifier %}
        identifier: {{ table.identifier }}
{%- endif %}
{%- endfor %}
{%- endfor %}
{%- endif %}

models:
{%- for table in staging_tables %}
  - name: {{ table.staging_model }}
{%- if table.description %}
    description: {{ table.description | tojson }}
{%- endif %}
{%- if table.staging_increment_unique_key | default([]) %}
    data_tests:
      - dbt_utils.unique_combination_of_columns:
          arguments:
            combination_of_columns: {{ table.staging_increment_unique_key }}
{%- endif %}
{%- if table.model_tests %}
    columns:
{%- for column in table.model_tests %}
      - name: {{ column.name }}
        data_tests: {{ column.data_tests }}
{%- endfor %}
{%- endif %}
{%- endfor %}
